:root{
    --brand-color: #4D5AE5;
    --headers-color:#2E2F42;
    --text-color: #434455;
    --back-color: #fff;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:  var(--headers-color, grey);
    background-color: var(--back-color, white);
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
.top-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    margin: 24px 332px 24px 76px;
   
}
.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;   
    line-height: 1.33; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headers-color, grey);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 24px 76px 24px 15px;
}
.logo-part{
    color: var(--brand-color, purple);
}
.nav-link{
    color: inherit;    
    font-weight: 500;  
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.nav-link:hover, .nav-link:focus{
    color: var(--brand-color, purple);
}
.contact-links{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.contact-link{
    color: var(--text-color, grey);          
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-link{
    margin-right: 40px;
}
.contact-link:hover, .contact-link:focus{
    color: var(--brand-color,purple);
    text-decoration: none;
}
.section{
    
}
/*Герой*/
.hero{
    background-color: var(--headers-color,grey);
}
.hero-title{
    font-size: 56px;
    line-height: 1.07;
    color: var(--back-color, white);
    letter-spacing: 0.02em;
    text-align: center;
    width: 494px;
    border: 1px solid #fff;
}
.order{
    background-color: var(--brand-color, purple);
    cursor: pointer;
}
.order:hover, .order:focus {
    background-color: #404BBF;
}
.text-order{    
    font-weight: 500;    
    color: var(--back-color, white);
    text-align: center;
}
/*Якості*/
.section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section-sub-title{        
    font-weight: 500;
    font-size: 20px;   
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-text{
    color: var(--text-color,grey);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*Що ми робимо*/

/*Наша команда*/
.team{
   background-color:  #F4F4FD;
}
/*Футер*/
.footer {
    background-color: var(--headers-color,grey);
}

.bottom {
    color: #F4F4FD;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
}

.tagline {
    color: #E7E9FC;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*2 стр*/
/*Фільтр*/
.section-btn .btn {
    color: var(--brand-color, purple);
    background-color: #F4F4FD;       
    font-weight: 500; 
    line-height: 1.5; 
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.section-btn .btn:hover, .btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}
