:root{
    --brand-color: #4D5AE5;
    --headers-color:#2E2F42;
    --text-color: #434455;
    --back-color: #fff;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:  var(--headers-color, grey);
    background-color: var(--back-color, white);
}
.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
  
a{
    text-decoration: none;
}
li {
    list-style: none;
}
.line{
    display: flex;
   align-items: center;
    justify-content: space-between;
}
.secondary-line{
    display: flex;
}
.logo {
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headers-color, grey);
}

.logo-part {
    color: var(--brand-color, purple);
}
.nav-items{
 margin: 24px 0 24px 76px;
 padding: 0;
 display: flex;
}

.nav-item:not(:last-child){
    margin-right: 40px;
}


.nav-link{
    display: block;


    color: inherit;    
    font-weight: 500;  
    line-height: 1.5; 
    letter-spacing: 0.02em;

}

.nav-link:hover, .nav-link:focus{
    color: var(--brand-color, purple);
}
.contact-links{
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.contact-item+.contact-item{
    margin-left: 40px;
}

.contact-link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--text-color, grey);          
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.contact-link:hover, .contact-link:focus{
    color: var(--brand-color,purple);
    text-decoration: none;
}
.section{
    
}
/*Герой*/
.hero{
    background-color: var(--headers-color,grey);
}
.hero-title{
    margin-top: 0;
    margin-bottom: 48px;
    border: 1px solid #fff;

    font-size: 56px;
    line-height: 1.07;
    color: var(--back-color, white);
    letter-spacing: 0.02em;
    text-align: center;


}
.order{
    background-color: var(--brand-color, purple);
    cursor: pointer;
}
.order:hover, .order:focus {
    background-color: #404BBF;
}
.text-order{    
    font-weight: 500;    
    color: var(--back-color, white);
    text-align: center;
}
/*Якості*/
.section-title{
    margin-top: 0;
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}
.section-sub-title{ 
    margin-top: 32px;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;   
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-text{
    margin-bottom: 32px;

    color: var(--text-color,grey);
    line-height: 1.5;
    letter-spacing: 0.02em;

}
/*Що ми робимо*/

/*Наша команда*/
.team{
   background-color:  #F4F4FD;
}
/*Футер*/
.footer {
    background-color: var(--headers-color,grey);
}

.bottom {
    color: #F4F4FD;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
}

.tagline {
    margin-top 16px;

    color: #E7E9FC;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
/*2 стр*/
/*Фільтр*/
.section-btn{
    margin-top: 96px;
    margin-bottom: 72px;
    padding-left: 0;
}
.section-btn .btn {
    color: var(--brand-color, purple);
    background-color: #F4F4FD;       
    font-weight: 500; 
    line-height: 1.5; 
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.section-btn .btn:hover, .btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
